* {
	margin: 0;
	padding: 0;
}

input {
  position: fixed;
  opacity: 0;
}

label {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

label::before {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f0f0;
  content: '';
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 3;
  width: 2em;
  height: 2em;
  margin: 0;
  padding: 0;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger::before,
label .burger .bar, label .burger::after {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 6%;
  background: #000;
  content: '';
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger .bar {
  top: 44%;
}

label .burger::before {
  top: 0;
  transform-origin: top left;
}

label .burger::after {
  bottom: 0;
  transform-origin: bottom left;
}

input:focus + label .burger,
label:hover .burger {
  opacity: .75;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  transform: translate3d(0, 0, 0);
  transform: translateX(-100%); /* removes the menu items off the page */
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

nav li {
	margin: 1rem;
}

/* targets the hamburger menu contents like about portfolio contact etc */
nav ul {
	margin-top: -33rem; 
}

nav::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 25em;
  background: white;
  content: '';
  transform: skewX(15deg) translateX(-100%);
  transform-origin: bottom left;
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

nav a {
  margin: .5em 0;
  padding: .2em 1em;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  font-weight: 300;
  transform: translateX(-100%);
  transition: color .15s, transform .5s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

nav a:nth-child(1) {
  transition-delay: 0s, 100ms;
}

nav a:nth-child(2) {
  transition-delay: 0s, 150ms;
}

nav a:nth-child(3) {
  transition-delay: 0s, 200ms;
}

nav a:nth-child(4) {
  transition-delay: 0s, 250ms;
}

nav a:nth-child(5) {
  transition-delay: 0s, 300ms;
}

nav a:nth-child(6) {
  transition-delay: 0s, 350ms;
}

nav a:hover, nav a:focus {
  color: #6bf;
}

[id="navcheck"]:checked + label::before {
  opacity: 1;
  pointer-events: auto;
}

[id="navcheck"]:checked + label .burger::before, [id="navcheck"]:checked + label .burger::after {
  width: 141.42%;
}

[id="navcheck"]:checked + label .burger::before {
  transform: rotate(45deg) translateY(-50%);
}

[id="navcheck"]:checked + label .burger::after {
  transform: rotate(-45deg) translateY(50%);
}

[id="navcheck"]:checked + label .burger .bar {
  transform: scale(0.1);
}

[id="navcheck"]:checked ~ nav {
  transform: translateX(0);
}

[id="navcheck"]:checked ~ nav::before {
  transform: skewX(5deg) translateX(0);
}

[id="navcheck"]:checked ~ nav a {
  transform: translateX(0);
}

/* removes the "menu" text on hamburger */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Social buttons */
#twitter-icon, #github-icon {
  font-size: 2rem;
  margin-top: 5%;
  display: inline-block;
}

#twitter-icon {
  color: #00aced;
}

#twitter-icon:hover {
  opacity: 0.75;
  cursor: pointer;
}

#github-icon:hover {
  color: #000;
  opacity: 0.75;
  cursor: pointer;
}

/* Mobile devices */
@media all and (max-width: 480px) {
  nav ul {
    margin-top: -20em;
  }

  nav::before {
    width: 20em;
  }
}

/* iPhone 5 */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  nav::before {
    width: 14em;
  }

  nav ul {
    margin-top: -11em;
  }
}

/* iPhone 6 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
  nav::before {
    width: 15em;
  }

  nav ul {
    margin-top: -16em;
  }
}

/* iPhone 6 Plus */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
  nav::before {
    width: 16em;
  }

  nav ul {
    margin-top: -18em;
  }
}

/* Tablets */
@media (min-width: 40em) {
  nav::before {
    width: 30em;
  }

  nav a {
    font-size: 2rem;
  }

  .burger {
    font-size: 1.1rem;
  }

  #twitter-icon, #github-icon {
    font-size: 2.3rem;
  }
}

/* iPad Pro */
@media all and (min-width: 1024px) and (max-width: 1280px) {
  nav a {
    font-size: 2.4rem;
  }

  nav ul {
    margin-top: -51em;
  }
  
  .burger {
    font-size: 1.3rem;
  }

  #twitter-icon, #github-icon {
     font-size: 2.6rem;
   }
}
